_site
.sass-cache
.DS_Store
*.sublime-project
*.sublime-workspace
codekit-config.json
node_modules
_asset_bundler_cache
0-temp/*
0_temp/0-my_publications/Wenbin-Fei_publications.enl
0_temp/0-my_publications/Wenbin-Fei_publications.docx
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/refs_ext.MYI
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/refs_ext.MYD
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/refs.MYI
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/refs.MYD
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/misc.MYI
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/misc.MYD
0_temp/0-my_publications/Wenbin-Fei_publications.Data/PDF/1367773511/Wenbin-Fei_2019_particle-shape-heat-transfer.pdf
0_temp/0-my_publications/Wenbin-Fei_publications.Data/PDF/0055991781/Wenbin-Fei_2019-Abaqus-Eclipse.pdf
0_temp/0-my_publications/Wenbin-Fei_publications.Data/PDF/0137549672/Publication3_Coupled Analysis for Interaction.pdf
0_temp/0-my_publications/Wenbin-Fei_publications.Data/PDF/0909835768/1-s2.0-S0032591019310915-main.pdf
0_temp/0-my_publications/Wenbin-Fei_publications.Data/PDF/1048312246/Publication6_Feasibility of the Combination of.pdf
0_temp/0-my_publications/Wenbin-Fei_publications.Data/PDF/1277061425/Wenbin-Fei_2015_non-coaxiality.pdf
0_temp/0-my_publications/Wenbin-Fei_publications.Data/PDF/1328342025/Wenbin-Fei_2015_AEEA-CCS-coal-mining.pdf
0_temp/0-my_publications/Wenbin-Fei_publications.Data/PDF/1714704991/10.1002-ghg.1408.pdf
0_temp/0-my_publications/Wenbin-Fei_publications.Data/PDF/1864011419/Wenbin-Fei_2020_network-analysis-sands.pdf
0_temp/0-my_publications/Wenbin-Fei_publications.Data/PDF/2787345867/Wenbin-Fei_2019_rigidity.pdf
0_temp/0-my_publications/Wenbin-Fei_publications.Data/PDF/3241000735/(ASCE)GT.1943-5606.0002389.pdf
0_temp/0-my_publications/Wenbin-Fei_publications.Data/PDF/3758825295/Publication3_Coupled Analysis for Interaction1.pdf
0_temp/0-my_publications/Wenbin-Fei_publications.Data/PDF/4107864535/Publication5_Challenging combination of CO2 ge.pdf
0_temp/0-my_publications/Wenbin-Fei_publications.Data/PDF/4267995382/Wenbin-Fei_2019_particle-shape-heat-transfer.pdf
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/csort.frm
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/csort.MYD
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/csort.MYI
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/db.opt
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/jterms.frm
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/jterms.MYD
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/jterms.MYI
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/misc.frm
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/pdf_index.frm
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/pdf_index.MYD
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/pdf_index.MYI
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/refs.frm
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/refs_ext.frm
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/reftype.frm
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/terms.frm
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/terms.MYD
0_temp/0-my_publications/Wenbin-Fei_publications.Data/rdb/terms.MYI
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/csort.frm
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/csort.MYD
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/csort.MYI
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/db.opt
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/jterms.frm
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/jterms.MYD
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/jterms.MYI
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/misc.frm
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/misc.MYD
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/misc.MYI
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/pdf_index.frm
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/pdf_index.MYD
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/pdf_index.MYI
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/refs.frm
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/refs.MYD
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/refs.MYI
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/refs_ext.frm
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/refs_ext.MYD
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/refs_ext.MYI
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/terms.frm
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/terms.MYD
0_temp/0-my_publications/Wenbin-Fei_publications.Data/tdb/terms.MYI
0_temp/1-blogs/Why is microstructure important to heat transfer.docx
